/**
Margin: Espacio exterior de la caja 
Border: es la línea de la caja 
padding Espacio interior de la caja

top: Parte superior de la caja
Bottom: Parte inferior de la caja
Left: Parte izquierda de la caja
Right: Parte derecha de la caja
**/
*{

}